/*GLOBAL*/

.text {
  font-family: Avenir Next, Arial;
}

.blue {
  color: #1B5190;
}

a {
  color: #1B5190;
  text-decoration: none;
}

.footer {
  height: 30%;
  display: flex;
  justify-content: center;
  font-family: cursive;
  padding-bottom: 30px;
}

@media only screen and (min-width: 2500px) {
  .footer {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

/*MAIN HEADER*/

.title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
.sub-title {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

@media only screen and (min-width: 2500px) {
  .title {
    font-size: 70px;
  }
  .sub-title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 15px;
  }
  .sub-title {
    font-size: 10px;
  }
}

.body-title {
  margin: 0;
  padding-top: 1.5%;
}

.side-menu {
  color: #1B5190;
  margin: 5% 10%;
  font-size: large;
}
@media only screen and (min-width: 2500px) {
  .side-menu {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .side-menu {
    font-size: 15px;
    margin: 2% 3%;
  }
}

.side-menu-text {
  padding: 1% 0;
}

.top-menu {
  color: #1B5190;
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 0vw 20vw;
  border-top: thin solid #1B5190;
  font-family: Snell Roundhand, cursive;
  font-size: 20px;
}
@media only screen and (min-width: 2500px) {
  .top-menu {
    font-size: 60px;
  }
}
@media only screen and (max-width: 425px) {
  .top-menu {
    font-size: 20px;
  }
}

.top-menu-text-left {
  display: inline;
  text-align: left;
  width: 100%;
  padding: 1% 5%;
}
.top-menu-text-center {
  display: inline;
  text-align: center;
  width: 100%;
  padding: 1% 5%;
}
.top-menu-text-right {
  display: inline;
  text-align: right;
  width: 100%;
  padding: 1% 5%;
}

.home-header {
  background-image: url("design/main-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 20px;
}

@media only screen and (max-width: 770px) {
  .home-header {
    min-height: 40vh;
    padding: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .home-header {
    min-height: 20vh;
    padding: 5px;
  }
}

/*HOME PAGE*/

.home-body {
  /*background-color: floralwhite;*/
  background-image: url("design/wood-bkgrd.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 20px;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.header {
  display: inline-block;
  display: flex;
  justify-content: center;
}
.header-line {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.dec-line {
  display: inline;
  margin: 2% 5%;
  overflow: hidden;
}

.inner-box {
  border-color: #1B5190;
  border-style: solid;
  border-width: 5px;
  width: 40vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 70px 0;
}

.outer-box {
  border-color: #1B5190;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 10px;
}

.button {
  text-align: center;
  font-size: 30px;
  color: floralwhite;
  background-color: #1B5190;
  width: 20vw;
  height: 15vh;
  margin: 7% 0;
  text-decoration: none;
}
@media only screen and (min-width: 2500px) {
  .button {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .button {
    font-size: 20px;
  }
  .inner-box {
    border-color: #1B5190;
    border-style: solid;
    border-width: 5px;
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 70px 0;
  }
}

/* EVENT DETAILS PAGE */

.event-details-body {
  background-color: floralwhite;
  background-image: url("design/details.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}
