/*GLOBAL*/

.text {
  font-family: Avenir Next, Arial;
}

.blue {
  color: #1B5190;
}

a {
  color: #1B5190;
  text-decoration: none;
}

.footer {
  height: 30%;
  display: flex;
  justify-content: center;
  font-family: cursive;
  padding-bottom: 30px;
}

@media only screen and (min-width: 2500px) {
  .footer {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

/*MAIN HEADER*/

.title {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
.sub-title {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

@media only screen and (min-width: 2500px) {
  .title {
    font-size: 70px;
  }
  .sub-title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 15px;
  }
  .sub-title {
    font-size: 10px;
  }
}

.body-title {
  margin: 0;
  padding-top: 1.5%;
}

.side-menu {
  color: #1B5190;
  margin: 5% 10%;
  font-size: large;
}
@media only screen and (min-width: 2500px) {
  .side-menu {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .side-menu {
    font-size: 15px;
    margin: 2% 3%;
  }
}

.side-menu-text {
  padding: 1% 0;
}

.top-menu {
  color: #1B5190;
  display: flex;
  justify-content: center;
  width: 60vw;
  margin: 0vw 18.5vw;
  border-top: thin solid #1B5190;
  font-family: Snell Roundhand, cursive;
  font-size: 20px;
}
@media only screen and (min-width: 2500px) {
  .top-menu {
    font-size: 60px;
  }
}
@media only screen and (max-width: 425px) {
  .top-menu {
    font-size: 20px;
  }
}

.top-menu-text-left {
  display: inline;
  text-align: left;
  width: 100%;
  padding: 1% 5%;
}
.top-menu-text-center {
  display: inline;
  text-align: center;
  width: 100%;
  padding: 1% 5%;
}
.top-menu-text-right {
  display: inline;
  text-align: right;
  width: 100%;
  padding: 1% 5%;
}

.home-header {
  background-image: url("design/main-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 20px;
}

@media only screen and (max-width: 770px) {
  .home-header {
    min-height: 40vh;
    padding: 10px;
  }
}

@media only screen and (max-width: 425px) {
  .home-header {
    min-height: 20vh;
    padding: 5px;
  }
}

/*HOME PAGE*/

.home-body {
  background-image: url("design/wood-bkgrd.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 20px;
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.header {
  display: inline-block;
  display: flex;
  justify-content: center;
}
.header-line {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.dec-line {
  display: inline;
  margin: 2% 5%;
  overflow: hidden;
}

.inner-box {
  border-color: #1B5190;
  border-style: solid;
  border-width: 5px;
  width: 40vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 70px 0;
}

.outer-box {
  border-color: #1B5190;
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 10px;
}

.button {
  text-align: center;
  font-size: 30px;
  color: floralwhite;
  background-color: #1B5190;
  width: 20vw;
  height: 15vh;
  margin: 7% 0;
  text-decoration: none;
}
@media only screen and (min-width: 2500px) {
  .button {
    font-size: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .button {
    font-size: 20px;
  }
  .inner-box {
    border-color: #1B5190;
    border-style: solid;
    border-width: 5px;
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding: 70px 0;
  }
}

/* EVENT DETAILS PAGE */

.event-details-body {
  background-color: floralwhite;
  background-image: url("design/details.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

/* VISITING SYDNEY PAGE */

.visiting-sydney-body {
  background-color: floralwhite;
  background-image: url("design/sydney-bkgrd.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

.visiting-sydney-content {
  margin: 3% 7%;
  overflow-y: scroll;
  height: 80vh;
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  grid-template-areas: "b b b" "c d e";
}

.card-category {
  grid-area: a;
  font-size: large;
  text-align: right;
}
.card-description {
  grid-area: b;
}

.light-text {
  font-weight: normal;
}

.card-category-text {
  width: 40%;
  margin-left: 55%;
  font-size: 25px;
  padding-right: 3%;
  border-bottom: thin solid #1B5190;
}

.card-detail1 {
  grid-area: c;
  background-color: #1B5190B3;
  color: #FFFAF0CC;
  text-align: center;
}

.card-detail1 a {
  color: #FFFAF0CC;
}

.card-detail2 {
  grid-area: d;
  background-color: #1B5190CC;
}
.card-detail3 {
  grid-area: e;
  background-color: #1B5190CC;
}
.cards li {
  padding: 10px;
  border-radius: 5px;
}

.margin {
  margin: 5% 0;
}

.card-img {
  height: 17vh;
}

/* OUR STORY */

.container {
  width: 100%;
  height: 100vh;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/bjork.jpg');
  overflow-y: hidden;
}

.grid {
  display: grid;
  width: 100vmin;
  grid-template-columns: repeat(3, 1fr);
  transform: rotate(45deg);
  height: 100vmin;
  grid-gap: 10px;
  margin: 30px auto;
  background-color: purple;
  position: relative;
  overflow: hidden;
}

.grid:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(-45deg);
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/bjork.jpg') 0 0 repeat;
  background-size: cover;
}

.grid div {
  background-color: purple;
}

.grid div:first-child {
  mix-blend-mode: multiply;
}

.grid div:nth-child(2) {
  mix-blend-mode: overlay;
}

.grid div:nth-child(6), .grid div:nth-child(3) {
  position: relative;
  overflow: hidden;
}

.grid div:nth-child(6):before, .grid div:nth-child(3):before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: rotate(-45deg);
}

.grid div:nth-child(6):before {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/bjorkagain.jpg') 0 0;
  background-size: cover;
}

.grid div:nth-child(3):before {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/429997/bjorkginger.jpg') 0 0;
}

.grid div:nth-child(7) {
  mix-blend-mode: saturation;
}
.grid div:nth-child(8) {
  background-color: #88FFBF;
}
.grid div:nth-child(9) {
  mix-blend-mode: hue;
}

.grid div:hover {
  mix-blend-mode: normal !important;
}
